<h1>Calculator</h1>

<%= form_with url: root_path, method: :post, local: true, data: { turbo: false }, id: "calc-form" do %>
  <%= text_field_tag :expression, params[:expression], id: "expression", size: 30, autocomplete: "off" %><br><br>

<div id="calculator-buttons" style="display: grid; grid-template-columns: repeat(4, 60px); gap: 10px;">
    <button type="button" onclick="handleClick('7')">7</button>
    <button type="button" onclick="handleClick('8')">8</button>
    <button type="button" onclick="handleClick('9')">9</button>
    <button type="button" onclick="handleClick('+')">+</button>

    <button type="button" onclick="handleClick('4')">4</button>
    <button type="button" onclick="handleClick('5')">5</button>
    <button type="button" onclick="handleClick('6')">6</button>
    <button type="button" onclick="handleClick('-')">-</button>

    <button type="button" onclick="handleClick('1')">1</button>
    <button type="button" onclick="handleClick('2')">2</button>
    <button type="button" onclick="handleClick('3')">3</button>
    <button type="button" onclick="handleClick('*')">*</button>

    <button type="button" onclick="handleClick('0')">0</button>
    <button type="button" onclick="handleClick('.')">.</button>
    <button type="button" onclick="handleClick('(')">(</button>
    <button type="button" onclick="handleClick('/')">/</button>

    <button type="button" onclick="handleClick(')')">)</button>
    <button type="button" onclick="handleClick('^')">^</button>
    <button type="button" onclick="handleClick('%')">%</button>
    <button type="button" onclick="handleClick('C')">C</button>

    <button type="button" onclick="handleClick('=')">=</button>
  </div>
<% end %>

<% if defined?(@result) %>
  <h2>Result: <%= @result %></h2>
<% end %> <br>

<div> <%= link_to "Statistic Page", stats_path %> </div>

<script>
  const input = document.getElementById("expression");
  const form = document.getElementById("calc-form");

  function handleClick(value) {
    if (value === "=") {
      form.submit();
    } else if (value === "C") {
      input.value = "";
    } else {
      input.value += value;
      input.focus();
    }
  }

  input.addEventListener("keydown", function(e) {
    if (e.key === "Enter") {
      e.preventDefault();
      form.submit();
    }
  });
</script>